<div class="novo_usuario">
	<p class="title_cabecalho">Criar login</p>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	
	  <%= f.label :email %>
	  <%= f.email_field :email %>
		<%= f.label :password %>
	  <%= f.password_field :password %>
		<%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %>
		<%= f.label :tipo %>
  	<%= f.select :tipo, [['Escola', 1],['Mergulhador',2]] %>
		<%= f.submit "Logar" %>
	<% end %>
	
	<%= render :partial => "devise/shared/links" %>
</div>
