<h2>Resend unlock instructions</h2>
<div class="novo_usuario">
	<p class="title_cabecalho">Desbloquear conta</p>
<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.submit "Reenviar" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
